body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#verification {
    width: 40%;
}

#login{
    width: 48%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type="button"]{
    width: 48%;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login:hover {
    background-color: #45a049;
}

input[type="button"] {
    background-color: #2196F3;
}

input[type="button"]:hover {
    background-color: #0e91e0;
}

.form-row {
    display: flex;
    align-items: flex-start;
}

.form-row label,
.form-row input,
.form-row img,
.form-row span{
    margin-right: 20px;
}

.verification-icon{
    position: absolute;
    margin-left: 160px;
}

#ka{
    width: 35%;
}
#reset{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
#reset:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.password-link {
    color: #8E8AC8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.password-link:hover {
    color: #6D69A7;
}
