body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.search-box {
    width: 400px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-radius: 20px;
    margin-right: 20px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-box:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.search-button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.search-button:hover {
    background-color: #45a843;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px;
    max-height: 580px;
    overflow-y: scroll;
    direction: rtl;
}

.main::-webkit-scrollbar{
    width: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}
.main::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.main::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}


.toolzs {
    flex: 0 0 calc(25% - 20px);
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    text-align: center;

    /* 添加阴影效果 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    /* 添加圆角 */
    border-radius: 10px;

    /* 添加渐变背景色 */
    background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);

    /* 添加鼠标悬停效果 */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* 添加过渡效果 */
    cursor: pointer;
}

.toolzs:hover {
    background-color: #f9f9f9; /* 鼠标悬停时的背景颜色 */
    border-color: #aaa; /* 鼠标悬停时的边框颜色 */
}

.toolzs-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.toolzs h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.toolzs p {
    margin-bottom: 0;
}


#back-to-top-button {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

#back-to-top-button:hover {
    opacity: 1;
}




